
.navbar{
 
    width: 100%;
    top:18%;
    position: fixed;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    



     
}
a{
    text-decoration: none;
    color: black;
}

